@import "tailwindcss";
.rubik-puddles-regular {
  font-family: "Rubik Puddles", system-ui;
  font-weight: 400;
  font-style: normal;
}
.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

